* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #6940fc;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #d9fa42;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

/* INPUTS & SELECTS ONLY */
form input,
form select {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    background-color: white;
}

/* INPUT */
form input {
    border: 1px solid grey;
    font-size: 1rem;
    height: 3rem;
    padding: 0.5rem;
}

/* DROPDOWN */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container {
    display: flex;
    width: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid grey;
    background-color: white;
}

.select-container img {
    max-width: 2rem;
}

.select-container select {
    font-size: 1rem;
}

/* MESSAGE */
.msg {
    margin: 2rem 0;
    font-weight: 500;
}


button {
    width: 100%;
    height: 3rem;
    border-radius: 0.75rem;
    border: none;
    background-color: #af4d98;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #933d80;
}

button:active {
    transform: scale(0.98);
}
